<template>
  <div class="card">
    <section class="card-image"
             @mouseover="showDeleteIcon = true"
             @mouseleave="showDeleteIcon = false"
    >
      <img class="main" :src="card.img" alt="">
      <img v-if="showDeleteIcon" src="../assets/delete.svg" class="card-delete"
           @click="remove(card.id)"/>
    </section>
    <section class="card-description">
      <p class="title">{{ card.title }}</p>
      <p class="detail">{{ card.detail }}</p>
      <span class="price">
        {{ card.price.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + " ") }} руб
      </span>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Card',
  props: {
    card: Object,
  },
  data() {
    return {
      showDeleteIcon: false,
    };
  },
  methods: {
    ...mapActions(['deleteProduct']),
    remove(id) {
      this.deleteProduct(id);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  width: 330px;
  background-color: #ffff;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;

  &-delete {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
  }

  &-image {
    height: 200px;

    .main {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &-description {
    padding: 0 20px 15px;
    color: #3F3F3F;

    .title {
      font-size: 20px;
    }

    .price {
      font-size: 24px;
    }

    .detail, .title {
      word-break: break-all;
    }

    .title, .price {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1076px) {
  .card {
    max-width: 290px;
  }
}
</style>
