<template>
  <section class="field-wrapper">
    <label for="input" class="label">
      <span class="required" v-if="required"></span>
      <slot></slot>
    </label>
    <ValidationProvider
      :rules="{ required: required }"
      slim
      v-slot="{ errors }"
      tag="div"
      class="field-wrapper"
    >
      <input
        v-if="type !== 'textarea'"
        id="input"
        class="input"
        :class="{ 'input-error': errors[0] }"
        :type="type"
        v-model.trim="input"
        :placeholder="placeholder"
      />
      <textarea
        v-else
        id="input"
        :class="{ 'input-error': errors[0] }"
        v-model="input"
        class="input textarea"
        :placeholder="placeholder"
        rows="6"
      >
      </textarea>
      <span class="error" v-if="errors[0]"> Поле является обязательным </span>
    </ValidationProvider>
  </section>
</template>

<script>
import { ValidationProvider, extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

extend('required', required);

export default {
  name: 'FormField',
  components: { ValidationProvider },
  props: {
    placeholder: String,
    type: String,
    required: Boolean,
    value: String,
  },
  computed: {
    input: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('update:value', value);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.input {
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  position: relative;

  &::placeholder {
    color: #b4b4b4;
  }
}

.field-wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10px;
  position: relative;
  max-width: fit-content;
  font-size: 10px;
}

.required {
  width: 5px;
  height: 5px;
  background: #ff8484;
  border-radius: 4px;
  position: absolute;
  right: -4px;
}

.textarea {
  resize: none;
  font-family: unset;
}

.error {
  font-weight: 400;
  font-size: 10px;
  color: #ff8484;
}

.input-error {
  border: 1px solid #ff8484;
}
</style>
