<template>
  <main class="wrapper">
    <SortField/>
    <section class="main-content">
      <ProductForm/>
      <transition-group name="list" tag="section" class="card-wrapper">
        <Card v-for="product in products" :card="product" :key="product.id"/>
      </transition-group>
    </section>
  </main>
</template>
<script>
import { mapGetters } from 'vuex';
import Card from './Card.vue';
import ProductForm from './ProductForm.vue';
import SortField from './SortField.vue';

export default {
  name: 'Layout',
  components: { SortField, Card, ProductForm },
  computed: {
    ...mapGetters(['products']),
  },
};
</script>
<style lang="scss" scoped>
.wrapper {
  margin: 0 35px;
  font-family: "Source Sans Pro", serif;
}

.main-content {
  display: flex;
  margin-top: 15px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .main-content {
    justify-content: center;
    align-items: center;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    flex-direction: column;
  }

  .form {
    max-width: 290px;
    padding: 10px;
  }

  .card-wrapper {
    margin: 20px 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
