<template>
  <ValidationObserver slim tag="div" v-slot="{valid}">
    <form class="form" @submit.prevent="changed(valid)">
      <FormField :value.sync="name" required placeholder="Введите наименование товара">
        Наименование товара
      </FormField>
      <FormField type="textarea" :value.sync="description" placeholder="Введите описание товара">
        Описание товара
      </FormField>
      <FormField required :value.sync="img" placeholder="Введите ссылку">
        Ссылка на изображение товара
      </FormField>
      <FormField type="number" :value.sync="price" required placeholder="Введите цену">
        Цена товара
      </FormField>
      <button class="add-item" :disabled="!valid" :class="{ active: valid }">
        Добавить товар
      </button>
      <button class="add-item active" @click="addProducts">
        Добавить карточку по умолчанию
      </button>
      <Toastr ref="toastr"/>
    </form>
  </ValidationObserver>
</template>

<script>
import { mapActions } from 'vuex';
import { ValidationObserver } from 'vee-validate';
import FormField from './FormField.vue';
import Toastr from './Toastr.vue';

export default {
  name: 'ProductForm',
  components: { Toastr, FormField, ValidationObserver },
  data() {
    return {
      name: '',
      description: '',
      img: '',
      price: '',
    };
  },
  methods: {
    ...mapActions(['addProduct', 'deleteProduct']),
    changed(valid) {
      const item = {
        title: this.name,
        detail: this.description,
        img: this.img,
        price: this.price,
      };
      if (valid) {
        this.addProduct(item);
        this.$refs.toastr.show();
        this.$refs.toastr.hide();
      }
    },
    addProducts() {
      const item = {
        title: 'Наименование товара',
        detail: 'Довольно-таки интересное описание товара в несколько строк. '
          + 'Довольно-таки интересное описание товара в несколько строк',
        img: 'https://i.ibb.co/G5NS9FL/card.png',
        price: '10000',
      };
      this.addProduct(item);
    },
  },
};
</script>

<style lang="scss" scoped>
.form {
  width: 400px;
  height: fit-content;
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  padding: 2rem 1.5rem;
  border-radius: 4px;

  .add-item {
    font-size: 12px;
    width: 100%;
    border: none;
    background: #eeeeee;
    border-radius: 10px;
    color: #b4b4b4;
    margin: 2rem auto 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .active {
    background: #7bae73;
    color: white;
    cursor: pointer;
  }
}
</style>
