<template>
  <div class="info">
    <span class="info-title">Добавление товара</span>
    <select class="sort" @change="sorting">
      <option value="default">По умолчанию</option>
      <option value="price-min">По цене(от меньшего)</option>
      <option value="price-max">По цене(от большего)</option>
      <option value="name">По наименованию</option>
    </select>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'SortField',
  methods: {
    ...mapMutations(['sortProducts']),
    sorting(e) {
      const sortField = e.target.value;

      this.sortProducts(sortField);
    },
  },
};
</script>

<style lang="scss" scoped>
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-weight: 600;
    font-size: 28px;
  }
}

.sort {
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  color: gray;
}
</style>
