<template>
  <div class="toastr" v-show="showNotification">
    Товар успешно добавлен!
  </div>
</template>

<script>
export default {
  name: 'Toastr',
  data() {
    return {
      showNotification: false,
    };
  },
  methods: {
    show() {
      this.showNotification = true;
    },
    hide() {
      setTimeout(() => {
        this.showNotification = false;
      }, 5000);
    },
  },
};
</script>

<style lang="scss" scoped>
.toastr {
  transition: 0.5s all;
  z-index: 1;
  width: 350px;
  max-width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7bae73;
  color: white;
  position: absolute;
  bottom: 0;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;

}
</style>
